.container {
    margin-top: 30px;
    max-width: 80vw;
}

label {
    margin-bottom: 10px;
}

button[type=reset] {
    background-color: #666;
    color: #fff;
}

button[type=reset]:hover {
    background-color: #555;
    color: #fff;
}

.updateMessage {
    z-index: 100;
    position: fixed;
    top: 30px;
    left: 40%;
    transform: translate(0,-60%);
    text-align: center;
    width: max-content;
    padding: 10px;
    color:#fff;
    background-color: #350000;
}
